<div class="list-group" *ngIf="character">
  <a class="list-group-item list-group-item-action "
    >Name of the Character: {{ character.name }}</a
  >
  <a class="list-group-item list-group-item-action"
    >Gender: {{ character.gender }}</a
  >
  <a class="list-group-item list-group-item-action"
    >Culture: {{ character.culture }}</a
  >
  <a class="list-group-item list-group-item-action"
    >Titles: {{ character.titles }}</a
  >
  <a class="list-group-item list-group-item-action"
    >Born: {{ character.born }}</a
  >
  <a class="list-group-item list-group-item-action"
    >Died: {{ character.died }}</a
  >
</div>
